version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: yasteixeira/devops-ac1:staging
    container_name: devops-staging
    ports:
      - "8686:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=staging
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8080/actuator/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped
